:root {
    --principal: #E53935;
    --secundario: #D32F2F;
    --terceario: #808080;
    --degradadoDos: #982690;
    --degradadoUno: #E84A4A;
    --footer: #878787;
}

html {
    font-size: 62.5%;
    font-family: 'Libre Baskerville', serif;
    background: linear-gradient(to left, var(--degradadoUno), var(--degradadoDos));
}

body {
    font-size: 16px;
    margin: 0 0;
}

.header {
    background-image: url(../pictures/header-fondo.jpeg);
}

.bk-header {
    background-color: rgba(255, 255, 255, .2);
}

.figure-logo {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.figure-logo {
    max-width: 30rem;
    margin: 0 auto;
}

.nav-bk {
    background-color: var(--principal);
}

.nav {
    max-width: 100rem;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.nav a {
    text-decoration: none;
    font-size: 2.5rem;
    color:black;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 2rem;
}

.nav-inicio{
    background-color:#A92220;
    border: #878787;
    border-style: groove;
}

.nav a:hover {
    background-color: var(--secundario);
    font-size: 2.6rem;
}

.search {
    display: flex;
    justify-content: end;
    padding: 1rem;
    background-color: var(--terceario);
}

.bar-search {
    max-width: 40rem;
    max-height: 3rem;
}

.container {
    max-width: 110rem;
    margin: 0 auto;
}

.tendencias h2 {
    text-align: center;
    background-color: black;
    color: white;
    font-weight: 700;
}

.disc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.disc span, p, a {
    text-align: center;
    font-size: 1.7rem;
}

.disc span {
    font-weight: 700;
    font-size: 2rem;
}

.price {
    color: greenyellow;
    font-size: 1.8rem;
    margin: 0 auto .5rem auto;
}

.add-car {
    margin: .5rem auto;
    cursor: pointer;
}

.add-car:hover {
    background-color: rgb(164, 255, 255);
    border-radius: .5rem;
    font-size: 1.8rem;
}

.see-more {
    margin: .5rem auto 0 auto;
    text-decoration: none;
}

.see-more:hover {
    background-color: rgb(164, 255, 255);
    border-radius: .5rem;
    font-size: 1.8rem;
}

.figc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.three-discs {
    display: flex;
    justify-content: space-between;
}

.three-discs img{
    max-width: 25rem;
}

/*footer*/

.footer {
    background-color: var(--footer);
    padding-bottom: 1rem;
    text-align: center;
}

.footer p {
    font-size: 2rem;
}